@using OdevSon.Models
@{
    ViewBag.Title = "Listele";
    Layout = "~Views/Shared/_Layout.cshtml";
}


@model IEnumerable<Parca>

<h2>Parca Listele</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ParcaId</th>
            <th>ParcaAd</th>
            <th>ParcaTur</th>
            <th>İşlemler</th>
        </tr>

    </thead>
    <tbody style="">
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ParcaId</td>
                <td>@item.ParcaAd</td>
                <td>@item.ParcaTur</td>

            </tr>
        }
    </tbody>
</table>

