@using OdevSon.Models
@{
    ViewBag.Title = "Listele";
    Layout = "~Views/Shared/_Layout.cshtml";
}


@model IEnumerable<Oto>

<h2>Listele</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>AracId</th>
            <th>Marka</th>
            <th>Model</th>
            <th>İşlemler</th>
        </tr>

    </thead>
    <tbody style="">
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.AracId</td>
                <td>@item.Marka</td>
                <td>@item.Model</td>
                
            </tr>
        }
    </tbody>
</table>

